@import "font.css";
@import "normalize.css";
body{background-color:#f0f0f0}
#nav{background-color:#eee;opacity:.5;width:100%;height:2.5rem;position:absolute}#nav #logo{font-size:1.1rem;line-height:2.5rem;margin-left:15%;text-decoration:none}
#banner{width:100%;min-height:8rem}
.intro{margin:.6rem auto;padding:1rem 1rem 0;width:80%;font-size:1rem;line-height:1.5rem;text-indent:2rem;background-color:#fff;border:1px solid #808080;border-radius:5px}.intro .introTitle{margin:0;font-size:1.5rem;font-family:serif;font-weight:400;text-indent:0}
#upIntro{border-bottom:4px solid #000}
#downIntro{border-top:4px solid #000}
#gallery{margin:.6rem auto;padding:1rem 1rem;width:80%;height:800px;background-color:#fff;border:1px solid #808080;border-radius:5px}#gallery .wrapper{margin:0 1rem;width:30%;float:left;min-width:12rem}#gallery .wrapper .title{padding-left:.3rem;color:#6d1025;font-weight:200;border-left:3px solid #6d1025}#gallery .wrapper .title p{margin:.5rem 0}
#gallery .wrapper .title p:last-child{text-align:right}
#gallery .wrapper img{width:100%;border:1px solid #808080}
#gallery .wrapper .summary{color:#666;font-size:.8rem;line-height:1rem;text-indent:1.6rem}
#footer{margin:3rem 0 1.5rem;font-size:.9rem;line-height:.9rem;text-align:center}
